@media ( min-height: 1101px ) and (max-height:1800px) {
    .page_title {
        margin-top: 22%;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
         }

    .pinkbox {
        position: absolute;
        display: block;
        align-items: center;       
        background: rgba(255, 255, 255, 0.2);
        margin: 65% auto;
        height: 39em;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 3vh;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }

    h2 {
        font-family: 'font', sans-serif;
        font-size: 1.8vh;
        color: rgb(255, 144, 176);
        }
        
    html {
        text-align: center;
        }
    input {
        display: block;
        margin: auto;
        border-radius: 15px 15px;
        background-color: #ffffff;
        font-family: 'font', sans-serif;
        margin-top: 4%;
        width: 16em;
        height: 2.8em;
        margin-bottom: 8%;
        border: #e8e8e8;
        color: rgb(0, 0, 0);
        padding-left: 10px;
    }
    #id_ {
        font-size: 1.5vh;
    }
    #pass_ {
        font-size: 1.5vh;
        margin-bottom: 2em;
    }
    #submit {
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: -8%;
        width: 10em;
        height: -6em;
        border-radius: 15px 15px;
        background-color: #ffffff;
        border:rgba(255, 144, 176, 0);
        color: rgb(255, 144, 176);
        line-height: 50%;
        font-size: 2.5vh;
        font-family: 'font', sans-serif;
        cursor: pointer;
        box-shadow: 0px 0.7px 2.8px rgba(86, 86, 86, 0.1);
    }

    #forgot{
        text-align: center;
        margin-top: 29px;
        border:transparent;
        font-size: 13px;
        color: rgb(133, 133, 133);
        background-color:transparent;
        font-family: 'font', sans-serif;
        cursor: pointer;
    }
    

/* 비밀번호찾기 */
.btn {
cursor: pointer;
display: inline-block;
margin-top: 1em;
padding: 0.4em 2em;
border-style: solid;
border-radius: 30px 30px;
border-width: 0.7px;
border-color: transparent;
background-color: transparent;
font-size: 1.5vh;
font-weight: 100;
color:rgb(138, 138, 138);
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.main {
    font-size:4vh;
    color:rgb(104, 104, 104);
    margin:2vh auto;
    text-align: center;
    letter-spacing:-4px;
    word-spacing:1px;
    font-weight: 600;
    line-height: 130%;
    position: relative;
    animation: fadeInUp 1s;
}
}


@media ( min-height: 900px ) and (max-height:1100px) {
    .page_title {
        margin-top: 22%;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
         }

    .pinkbox {
        position: absolute;
        display: block;
        align-items: center;       
        background: rgba(255, 255, 255, 0.2);
        margin: 32em auto;
        height: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 3vh;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }

    h2 {
        font-family: 'font', sans-serif;
        font-size: 1.8vh;
        color: rgb(255, 144, 176);
        }
        
    html {
        text-align: center;
        }
    input {
        display: block;
        margin: auto;
        border-radius: 15px 15px;
        background-color: #ffffff;
        font-family: 'font', sans-serif;
        margin-top: 4%;
        width: 16em;
        height: 2.8em;
        margin-bottom: 8%;
        border: #e8e8e8;
        color: rgb(0, 0, 0);
        padding-left: 10px;
    }
    #id_ {
        font-size: 1.5vh;
    }
    #pass_ {
        font-size: 1.5vh;
    }
    #submit {
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: -8%;
        width: 10em;
        height: -6em;
        border-radius: 15px 15px;
        background-color: #ffffff;
        border:rgba(255, 144, 176, 0);
        color: rgb(255, 144, 176);
        line-height: 50%;
        font-size: 2.5vh;
        font-family: 'font', sans-serif;
        cursor: pointer;
        box-shadow: 0px 0.7px 2.8px rgba(86, 86, 86, 0.1);
    }

    #forgot{
        text-align: center;
        margin-top: 29px;
        border:transparent;
        font-size: 13px;
        color: rgb(133, 133, 133);
        background-color:transparent;
        font-family: 'font', sans-serif;
        cursor: pointer;
    }
    

/* 비밀번호찾기 */
.btn {
cursor: pointer;
display: inline-block;
margin-top: 1em;
padding: 0.4em 2em;
border-style: solid;
border-radius: 30px 30px;
border-width: 0.7px;
border-color: transparent;
background-color: transparent;
font-size: 1.5vh;
font-weight: 100;
color:rgb(138, 138, 138);
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.main {
    font-size:4vh;
    color:rgb(104, 104, 104);
    margin:2vh auto;
    text-align: center;
    letter-spacing:-4px;
    word-spacing:1px;
    font-weight: 600;
    line-height: 130%;
    position: relative;
    animation: fadeInUp 1s;
}
}

@media ( min-height: 800px ) and ( max-height: 899px ) {
.page_title {
        margin-top: 22%;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
         }

    .pinkbox {
        position: absolute;
        display: block;
        align-items: center;       
        background: rgba(255, 255, 255, 0.2);
        margin: 28em auto;
        height: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 3vh;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }

    h2 {
        font-family: 'font', sans-serif;
        font-size: 1.8vh;
        color: rgb(255, 144, 176);
        }
        
    html {
        text-align: center;
        }
    input {
        display: block;
        margin: auto;
        border-radius: 15px 15px;
        background-color: #ffffff;
        font-family: 'font', sans-serif;
        margin-top: 4%;
        width: 16em;
        height: 2.8em;
        margin-bottom: 8%;
        border: #e8e8e8;
        color: rgb(0, 0, 0);
        padding-left: 10px;
    }
    #id_ {
        font-size: 1.5vh;
    }
    #pass_ {
        font-size: 1.5vh;
    }
    #submit {
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: -8%;
        width: 10em;
        height: -6em;
        border-radius: 15px 15px;
        background-color: #ffffff;
        border:rgba(255, 144, 176, 0);
        color: rgb(255, 144, 176);
        line-height: 50%;
        font-size: 2.5vh;
        font-family: 'font', sans-serif;
        cursor: pointer;
        box-shadow: 0px 0.7px 2.8px rgba(86, 86, 86, 0.1);
    }

    #forgot{
        text-align: center;
        margin-top: 29px;
        border:transparent;
        font-size: 13px;
        color: rgb(133, 133, 133);
        background-color:transparent;
        font-family: 'font', sans-serif;
        cursor: pointer;
    }
    

/* 비밀번호찾기 */
.btn {
cursor: pointer;
display: inline-block;
margin-top: 1em;
padding: 0.4em 2em;
border-style: solid;
border-radius: 30px 30px;
border-width: 0.7px;
border-color: transparent;
background-color: transparent;
font-size: 1.5vh;
font-weight: 100;
color:rgb(138, 138, 138);
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.main {
    font-size:4vh;
    color:rgb(104, 104, 104);
    margin:2vh auto;
    text-align: center;
    letter-spacing:-4px;
    word-spacing:1px;
    font-weight: 600;
    line-height: 130%;
    position: relative;
    animation: fadeInUp 1s;
}

}



@media ( min-height: 601px ) and ( max-height: 799px ) {
.main_full{
min-height: 100%;
background-size: cover;
}
.page_title {
        margin-top: 22%;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
         }

    .pinkbox {
        position: absolute;
        display: block;
        align-items: center;       
        background: rgba(255, 255, 255, 0.2);
        margin: 25em auto;
        height: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 3vh;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }

    h2 {
        font-family: 'font', sans-serif;
        font-size: 1.8vh;
        color: rgb(255, 144, 176);
        }
        
    html {
        text-align: center;
        }
    input {
        display: block;
        margin: auto;
        border-radius: 15px 15px;
        background-color: #ffffff;
        font-family: 'font', sans-serif;
        margin-top: 4%;
        width: 16em;
        height: 2.8em;
        margin-bottom: 8%;
        border: #e8e8e8;
        color: rgb(0, 0, 0);
        padding-left: 10px;
    }
    #id_ {
        font-size: 1.5vh;
    }
    #pass_ {
        font-size: 1.5vh;
    }
    #submit {
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: -8%;
        width: 10em;
        height: -6em;
        border-radius: 15px 15px;
        background-color: #ffffff;
        border:rgba(255, 144, 176, 0);
        color: rgb(255, 144, 176);
        line-height: 50%;
        font-size: 2.5vh;
        font-family: 'font', sans-serif;
        cursor: pointer;
        box-shadow: 0px 0.7px 2.8px rgba(86, 86, 86, 0.1);
    }

    #forgot{
        text-align: center;
        margin-top: 29px;
        border:transparent;
        font-size: 13px;
        color: rgb(133, 133, 133);
        background-color:transparent;
        font-family: 'font', sans-serif;
        cursor: pointer;
    }
/* 비밀번호찾기 */
.btn {
cursor: pointer;
display: inline-block;
margin-top: 1em;
padding: 0.4em 2em;
border-style: solid;
border-radius: 30px 30px;
border-width: 0.7px;
border-color: transparent;
background-color: transparent;
font-size: 1.5vh;
font-weight: 100;
color:rgb(138, 138, 138);
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.main {
    font-size:4vh;
    color:rgb(104, 104, 104);
    margin:2vh auto;
    text-align: center;
    letter-spacing:-4px;
    word-spacing:1px;
    font-weight: 600;
    line-height: 130%;
    position: relative;
    animation: fadeInUp 1s;
}
}


@media ( min-height: 500px ) and ( max-height: 600px ) {
.page_title {
        margin-top: 22%;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
         }
    .pinkbox {
        position: absolute;
        display: block;
        align-items: center;       
        background: rgba(255, 255, 255, 0.2);
        margin: 20em auto;
        height: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 3vh;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }

    h2 {
        font-family: 'font', sans-serif;
        font-size: 1.8vh;
        color: rgb(255, 144, 176);
        }
        
    html {
        text-align: center;
        }
    input {
        display: block;
        margin: auto;
        border-radius: 15px 15px;
        background-color: #ffffff;
        font-family: 'font', sans-serif;
        margin-top: 4%;
        width: 16em;
        height: 2.8em;
        margin-bottom: 8%;
        border: #e8e8e8;
        color: rgb(0, 0, 0);
        padding-left: 10px;
    }
    #id_ {
        font-size: 1.5vh;
    }
    #pass_ {
        font-size: 1.5vh;
        margin-bottom: -5%;
    }
    #submit {
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: -10%;
        width: 10em;
        height: -6em;
        border-radius: 15px 15px;
        background-color: #ffffff;
        border:rgba(255, 144, 176, 0);
        color: rgb(255, 144, 176);
        line-height: 50%;
        font-size: 2.5vh;
        font-family: 'font', sans-serif;
        cursor: pointer;
        box-shadow: 0px 0.7px 2.8px rgba(86, 86, 86, 0.1);
    }

    #forgot{
        text-align: center;
        margin-top: 29px;
        border:transparent;
        font-size: 13px;
        color: rgb(133, 133, 133);
        background-color:transparent;
        font-family: 'font', sans-serif;
        cursor: pointer;
    }
/* 비밀번호찾기 */
.btn {
cursor: pointer;
display: inline-block;
margin-top: 1em;
padding: 0.4em 2em;
border-style: solid;
border-radius: 30px 30px;
border-width: 0.7px;
border-color: transparent;
background-color: transparent;
font-size: 1.5vh;
font-weight: 100;
color:rgb(138, 138, 138);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.main {
    font-size:4vh;
    color:rgb(104, 104, 104);
    margin:2vh auto;
    text-align: center;
    letter-spacing:-4px;
    word-spacing:1px;
    font-weight: 600;
    line-height: 130%;
    position: relative;
    animation: fadeInUp 1s;
}
}


@media ( min-height: 400px ) and ( max-height: 499px ) {
.page_title {
        margin-top: 22%;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
         }
    .pinkbox {
        position: absolute;
        display: block;
        align-items: center;       
        background: rgba(255, 255, 255, 0.2);
        margin: 17em auto;
        height: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 3vh;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }

    h2 {
        font-family: 'font', sans-serif;
        font-size: 1.8vh;
        color: rgb(255, 144, 176);
        }
        
    html {
        text-align: center;
        }
    input {
        display: block;
        margin: auto;
        border-radius: 15px 15px;
        background-color: #ffffff;
        font-family: 'font', sans-serif;
        margin-top: 4%;
        width: 16em;
        height: 2.8em;
        margin-bottom: 8%;
        border: #e8e8e8;
        color: rgb(0, 0, 0);
        padding-left: 10px;
    }
    #id_ {
        font-size: 1.5vh;
    }
    #pass_ {
        font-size: 1.5vh;
        margin-bottom: -5%;
    }
    #submit {
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: -10%;
        width: 10em;
        height: -6em;
        border-radius: 15px 15px;
        background-color: #ffffff;
        border:rgba(255, 144, 176, 0);
        color: rgb(255, 144, 176);
        line-height: 50%;
        font-size: 2.5vh;
        font-family: 'font', sans-serif;
        cursor: pointer;
        box-shadow: 0px 0.7px 2.8px rgba(86, 86, 86, 0.1);
    }

    #forgot{
        text-align: center;
        margin-top: 29px;
        border:transparent;
        font-size: 13px;
        color: rgb(133, 133, 133);
        background-color:transparent;
        font-family: 'font', sans-serif;
        cursor: pointer;
    }
    

/* 비밀번호찾기 */
.btn {
cursor: pointer;
display: inline-block;
margin-top: 1em;
padding: 0.4em 2em;
border-style: solid;
border-radius: 30px 30px;
border-width: 0.7px;
border-color: transparent;
background-color: transparent;
font-size: 1.5vh;
font-weight: 100;
color:rgb(138, 138, 138);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.main {
    font-size:4vh;
    color:rgb(104, 104, 104);
    margin:2vh auto;
    text-align: center;
    letter-spacing:-4px;
    word-spacing:1px;
    font-weight: 600;
    line-height: 130%;
    position: relative;
    animation: fadeInUp 1s;
}
}


@media ( max-height: 399px ) { 
.main {
    font-size:1em;
    color:rgb(104, 104, 104);
    margin:2vh auto;
    text-align: center;
    word-spacing:1px;
    font-weight: 600;
    line-height: 130%;
    position: relative;
    animation: fadeInUp 1s;
}
  /* 비밀번호찾기 */
.btn {
cursor: pointer;
display: inline-block;
margin-top: 1em;
padding: 0.4em 2em;
border-style: solid;
border-radius: 30px 30px;
border-width: 0.7px;
border-color: transparent;
background-color: transparent;
font-size: 1.5vh;
font-weight: 100;
color:rgb(138, 138, 138);
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.page_title {
        margin-top: 22%;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
         }

    .pinkbox {
        position: absolute;
        display: block;
        align-items: center;       
        background: rgba(255, 255, 255, 0.2);
        margin: 30% auto;
        height: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 3vh;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }

    h2 {
        font-family: 'font', sans-serif;
        font-size: 1.8vh;
        color: rgb(255, 144, 176);
        }
        
    html {
        text-align: center;
        }
    input {
        display: block;
        margin: auto;
        border-radius: 15px 15px;
        background-color: #ffffff;
        font-family: 'font', sans-serif;
        margin-top: 4%;
        width: 16em;
        height: 2.8em;
        margin-bottom: 8%;
        border: #e8e8e8;
        color: rgb(0, 0, 0);
        padding-left: 10px;
    }
    #id_ {
        font-size: 6px;
    }
    #pass_ {
        font-size: 6px;
        margin-bottom: -3em;
    }
    #submit {
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: -8%;
        width: 11.5em;
        height: -6em;
        border-radius: 15px 15px;
        background-color: #ffffff;
        border:rgba(255, 144, 176, 0);
        color: rgb(255, 144, 176);
        line-height: 50%;
        font-size: 2.5vh;
        font-family: 'font', sans-serif;
        cursor: pointer;
        box-shadow: 0px 0.7px 2.8px rgba(86, 86, 86, 0.1);
    }

    #forgot{
        text-align: center;
        margin-top: 29px;
        border:transparent;
        font-size: 13px;
        color: rgb(133, 133, 133);
        background-color:transparent;
        font-family: 'font', sans-serif;
        cursor: pointer;
    }
}


@media ( min-width: 0px ) and ( max-width: 250px )  { 
.main {
    font-size:1em;
    color:rgb(104, 104, 104);
    margin:2vh auto;
    text-align: center;
    word-spacing:1px;
    font-weight: 600;
    line-height: 130%;
    position: relative;
    animation: fadeInUp 1s;
}
  /* 비밀번호찾기 */
.btn {
cursor: pointer;
display: inline-block;
margin-top: 1em;
padding: 0.4em 2em;
border-style: solid;
border-radius: 30px 30px;
border-width: 0.7px;
border-color: transparent;
background-color: transparent;
font-size: 1.5vh;
font-weight: 100;
color:rgb(138, 138, 138);
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.page_title {
        margin-top: 22%;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
         }

    .pinkbox {
        position: absolute;
        display: block;
        align-items: center;       
        background: rgba(255, 255, 255, 0.2);
        margin: 12em auto;
        height: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 3vh;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }

    h2 {
        font-family: 'font', sans-serif;
        font-size: 1.8vh;
        color: rgb(255, 144, 176);
        }
        
    html {
        text-align: center;
        }
    input {
        display: block;
        margin: auto;
        border-radius: 15px 15px;
        background-color: #ffffff;
        font-family: 'font', sans-serif;
        margin-top: 4%;
        width: 16em;
        height: 2.8em;
        margin-bottom: 8%;
        border: #e8e8e8;
        color: rgb(0, 0, 0);
        padding-left: 10px;
    }
    #id_ {
        font-size: 6px;
    }
    #pass_ {
        font-size: 6px;
        margin-bottom: -3em;
    }
    #submit {
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: -8%;
        width: 11.5em;
        height: -6em;
        border-radius: 15px 15px;
        background-color: #ffffff;
        border:rgba(255, 144, 176, 0);
        color: rgb(255, 144, 176);
        line-height: 50%;
        font-size: 2.5vh;
        font-family: 'font', sans-serif;
        cursor: pointer;
        box-shadow: 0px 0.7px 2.8px rgba(86, 86, 86, 0.1);
    }

    #forgot{
        text-align: center;
        margin-top: 29px;
        border:transparent;
        font-size: 13px;
        color: rgb(133, 133, 133);
        background-color:transparent;
        font-family: 'font', sans-serif;
        cursor: pointer;
    }
}
