/* mystyle.css */
/* The Modal (background) */

.btn {
    cursor: pointer;
    display: inline-block;
    margin-top: 1.8em;
    padding: 0.4em 2em;
    border-style: solid;
    border-radius: 30px 30px;
    border-width: 0.7px;
    border-color: rgb(170, 170, 170);
    background-color:  transparent;
    font-size: 12px;
    font-weight: 500;
    color:rgb(170, 170, 170);
  }

 .btn:hover {
  cursor: pointer;
  display: inline-block;
  margin-top: 1.8em;
  padding: 0.4em 2em;
  border-style: solid;
  border-radius: 30px 30px;
  border-width: 0.7px;
  background-color: rgb(200, 200, 200);
  border-color: transparent;
  font-size: 12px;
  font-weight: 700;
  color:rgb(255, 255, 255);
  transition: all .5s;
  animation: fadeIn 1.5s forwards;
  } 



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    overflow-x: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow-y: hidden;
}



.modal-content::-webkit-scrollbar {
  overflow-x: hidden;
  /* width:18px; */
} 

.modal-content::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background:#f7cbea; /* 스크롤바의 색상 */
  border-radius: 50px;
} 

.modal-content::-webkit-scrollbar-track {
  background: #ffffff;
}


/* .modal-content::{
  max-width:20em;
  height: 28.4em;
  border:1px
} */


/* 상세페이지 */
.modal-content {
    display: block;
    max-width:20em;
    height: 35em;
    justify-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto;
    border: 2px solid rgb(255, 255, 255);
    background: #fff;
    /* padding: 5px; 팝업창 스크롤바 사이 여백 */
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}


/* 대성금속 팜플렛 */
.modal-content2 {
  display: block;
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  max-width:15em;
  height: 30.3em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 패키지디자인 삽입 */
.modal-content3 {
  max-width:21.2em;
  max-height: 19.7em;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 더스킨페이스 컨셉샷 */
.modal-content4 {
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  max-width:21.2em;
  height: 27.8em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 태원 다이어리 긴내지 */
.modal-content5 {
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  max-width:21.2em;
  height: 31.2em;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 스틱향수 진열대 */
.modal-content6 {
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  max-width:21.2em;
  height: 14.3em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 로그인창 힌트 */
.modal-content7 {
  display: table;
  margin-left: auto;
  margin-right: auto;
  background-color: #fefefe;
  text-align: center;
  font-size: 3vh;
  font-weight: 900;
  letter-spacing:-2.5px;
  word-spacing:-2px;
  line-height:120%;
  padding: 10px;
  padding-top: 3.5vh;
  border: 1px solid #888;
  width: 25vh;
  height: 10vh;
  background: #fff;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* .modal-content7 {
  display: block;
  background-color: #fefefe;
  text-align: center;
  font-size: 3vh;
  font-weight: 900;
  letter-spacing:-2.5px;
  word-spacing:-2px;
  line-height:120%;
  margin: 30vh auto;
  padding: 10px;
  padding-top: 3.5vh;
  border: 1px solid #888;
  width: 25vh;
  height: 10vh;
  background: #fff;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
} */






/* 스탠드배너 */
.modal-content8 {
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  max-width:15em;
  height: 34.3em;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 인스타콘텐츠 삽입 */
.modal-content9 {
  max-width:21.2em;
  max-height: 21.2em;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 코스모진콘텐츠 삽입 */
.modal-content10 {
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  max-width:21.2em;
  height: 14em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}


/* 스팀기,마스크 브로슈어 */
.modal-content11 {
  display: block;
  max-width:20em;
  height: 28.4em;
  justify-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 대성금속콘텐츠 */
.modal-content12 {
  display: block;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 5px;
  border: 1px solid #888;
  max-width:21.2em;
  height: 235px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 전시회 */
.modal-content13 {
  max-width:15.2em;
  height: 32.3em;  
  display: block;
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 스틱향수 팜플렛 */
.modal-content14 {
  display: block;
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  max-width:15em;
  height: 31.7em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 우딘 달력내지 */
.modal-content15 {
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  max-width:21.2em;
  height: 27.9em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}


/* 그린비타 컨셉샷 */
.modal-content16 {
  justify-content: center;
  justify-items: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 5px;
  border: 1px solid #888;
  max-width:21em;
  max-height: 11.7em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

/* 상세페이지 삽입 */
.modal5 {
  margin: 15% auto; /* 15% from the top and centered */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  justify-content: center;
  justify-items: center;
  /* left: 0;
  top: 0; */  
  padding: 10px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}




.modal5-content::-webkit-scrollbar {
overflow: auto;
padding:2em;
width:20px;
} 

.modal5-content::-webkit-scrollbar-thumb {
height: 30%; /* 스크롤바의 길이 */
background: #f7cbea; /* 스크롤바의 색상 */
border-radius: 50px;
} 

.modal5-content::-webkit-scrollbar-track {
background: #5959592b;
}


.modal5-content::{
width:200px;
height:250px;
border:50px;
}


/* Modal Content/Box */
.modal5-content {
  overflow-x:hidden;
  background-color: #fefefe;
  margin: 3.5% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 50px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 50em;
  background: #fff;
  border-radius: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}


/* The Close Button */
.close {
    color: transparent;
    font-size: 35px;
    font-weight: bold;
    float: right;
    margin: -20%;
    margin-top: -40px;
}
.close:hover,
.close:focus {
    color: transparent;
    text-decoration: none;
    cursor: pointer;
}




#modal.multiple-filter {
    backdrop-filter: blur(4px) grayscale(90%);
    -webkit-backdrop-filter: blur(4px) grayscale(90%);
  }
