
    
    
    /* 데스크탑 큰 해상도*/
    @media screen and (hover: hover) and (min-width: 1101px) {
      .container7 {
        display: flex; /* 변경: inline-block에서 flex로 변경 */
        justify-content: center; /* 가로 방향 중앙 배치 */
        align-items: center; /* 세로 방향 중앙 배치 */
        padding-left: 3em;
        max-width: 100%;
    }
    
        .box_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .box_wrap + .box_wrap {
        margin-top: 0em;
        }

        .box_wrap .container7 {
        display: flex; /* 변경: inline-flex -> flex */
        justify-content: center;
        gap: 2em;
        max-width: 100%;
        }
        
        .box_wrap:nth-child(odd) .container7 {
        flex-direction: row;
        }
        .box_wrap:nth-child(even) .container7 {
        flex-direction: row-reverse;
        }
        
        .box_wrap .img_box7 {
          display: flex; /* 변경: inline-block -> flex */
          justify-content: center;
          align-items: center; /* 수직 가운데 정렬 추가 */
          flex: 4;
          margin-top: 0em;
        }
        

        .box_wrap .txt_box7 p + p {
        margin-top: 0%;
        max-width: 100%;
        }
        
        .box_wrap .txt_box7 {
        display: inline-block;
        flex: 6;
        font: 200 1em/1.8 "Noto Sans KR";
        }
        
        .box_wrap .txt_box7 h4:before {
        content: "";
        display: block;
        background-color: #b477ae;
        width: 2.5em;
        height: 3px;
        margin-top: 0em;
        }
        
        .box_wrap .txt_box7 p + p {
        margin: 0vh;
        }
    
        .h4{
          display: none;
        }
        
        .thum_4_txt_ad{
          display: block;
          margin-top: 10px;
          margin-right: -50px;
          margin-bottom: 100px;
          line-height:30px;
          letter-spacing:0px;
          font-size:16px;
          font-weight:100;
          color: rgb(102, 102, 102);
        }
        
        .icon_item2 {
          float:left;
          list-style:none;
          display:inline-block;
          border: 0px;
          margin-left: 55px;
          margin-top: -130px;
          margin-right: -55px;
          margin-bottom: 110px;
        }
        
        
        video {
          display: flex; /* 변경: inline-flex -> flex */
          justify-content: center;
          align-items: center;
          width: auto;
          height: 360px;
          object-fit: fill;
          margin-bottom: 5em;
        }
        .thum_1_txt_ad {
          display: inline-block;
          font-size: 2.3em;
          margin: 0% auto;
          margin-bottom: 0.3em;
          line-height: 1em;
          letter-spacing: -3px;
          word-spacing: 1px;
          font-weight: bold;
          color: #393939;
      }
        .thum_1_txt_ad {
          display: inline-block;
          font-size: 2.3em;
          margin: 0% auto;
          margin-bottom: 0.3em;
          line-height: 1em;
          letter-spacing: -3px;
          word-spacing: 1px;
          font-weight: bold;
          color: #393939;
      }

        .thum_2_txt_ad_1,
        .thum_2_txt_ad_2,
        .thum_2_txt_ad_3,
        .thum_2_txt_ad_4 {
            display: inline-block;
            text-align: center;
            font-size: 16px;
            margin-top: 12px;
            padding: 0px;
            width: 105px;
            color: #ffffff;
        }
        
        .thum_2_txt_ad_1 {
            background-color: #85b8eb;
        }
        
        .thum_2_txt_ad_2 {
            background-color: #f27852;
        }
        
        .thum_2_txt_ad_3 {
            background-color: #3e7ac8;
        }
        
        .thum_2_txt_ad_4 {
            background-color: #1C1C1F;
        }
        
        .thum_5_txt_ad {
            display: inline-block;
            margin-top: 0.5em;
            line-height: 160%;
            font-size: 1.2em;
            color: #323232;
        }
        
        .thum_3_txt_ad{
          margin: 15px 0px 15px 0px;
          font-size: 1em;
          font-weight: 500;
          word-spacing: -1px;
          letter-spacing: 0.04px;
          line-height: 20px;
          color: rgb(193, 60, 60);
        }
        }
  


  /* 데스크탑 작은 해상도 */
  @media screen and (hover: hover) and (max-width: 1100px){
    .container7 {
      display: inline-block;
      /* margin-left: 10%; */
      }
      
      .box_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      }

      /* .box_wrap + .box_wrap {
      margin: 2em;
      } */

      /* .box_wrap .container7 {
      display: flex;
      gap: -3em;
      } */
      .box_wrap:nth-child(odd) .container7 {
      flex-direction: row;
      }
      
      .box_wrap:nth-child(even) .container7 {
      flex-direction: row-reverse;
      padding: 0.2em;
      }
      
      .box_wrap .img_box7 {
      display: flex;
      flex: 4;
      justify-content: center;
      margin-top: -1em;
      }
      
      .box_wrap .txt_box7 p + p {
      margin-top: 0.5vh;
      max-width: 100%;
      }
      
      .box_wrap .txt_box7 {
      flex: 6;
      font: 200 1.4em/1.8 "Noto Sans KR";
      margin-top: 1%;
      }

      .box_wrap .txt_box7 h4:before {
      content: "";
      display: block;
      background-color: #b477ae;
      width: 3rem;
      height: 6px;
      margin-top: 0em;
      }
      
      .box_wrap .txt_box7 p + p {
      margin: -1vh;
      }
  
      .h4{
        display: none;
      }
      
      .thum_4_txt_ad{
        display: block;
        margin-top: 10px;
        margin-right: -50px;
        margin-bottom: 100px;
        line-height: 1.8rem;
        letter-spacing:0px;
        font-size: 1rem;
        font-weight:100;
        color: rgb(102, 102, 102);
      }
      
      .icon_item2{
        float:left;
        list-style:none;
        display:inline-block;
        border: 0px;
        margin-top: -8rem;
        margin-bottom: 110px;
        margin-right: -3.3rem;
        margin-left: 3.3rem;
      }
      
      
      video {
        display: inline-block;
        justify-content: center;
        margin: 0;
        width: 98%;
        height: auto;
        object-fit: fill;
        margin-bottom: 1.2rem;
      }
      
      .thum_1_txt_ad{
        display: inline-block;
        font-size: 2.2rem;
        margin: 0% auto;
        margin-bottom:0.9rem;
        line-height:1em;
        letter-spacing:-3px;
        word-spacing:1px;
        font-weight:bold;
        color: #393939;
        }
        
       /* 영상종류  */
      .thum_2_txt_ad_1{
        background-color: #85b8eb;
        text-indent: 10px;
        font-size: 1rem;
        margin-top: 0.4em;
        margin-bottom: 0.5rem;
        width: 6.6em;
        color: #ffffff;
      }
      
      .thum_2_txt_ad_2{
        background-color:  #f27852;
        text-indent: 10px;
        font-size: 1rem;
        margin-top: 0.4em;
        margin-bottom: 0.5rem;
        width: 6.6em;
        color: #ffffff;
      }
      
      .thum_2_txt_ad_3{
        background-color: #3e7ac8;
        text-indent: 10px;
        font-size: 1rem;
        margin-top: 0.4em;
        margin-bottom: 0.5rem;
        width: 6.6em;
        color: #ffffff;
      }
      
      .thum_2_txt_ad_4{
        background-color: #1C1C1F;
        text-indent: 10px;
        font-size: 1rem;
        margin-top: 0.4em;
        margin-bottom: 0.5rem;
        width: 6.6em;
        color: #ffffff;
      }
      
      .thum_5_txt_ad{
        display: inline-block;
        margin-top:0.2em;
        line-height:160%;
        font-size: 1rem;
        color: #323232;
      }
      
      .thum_3_txt_ad{
        margin: 15px 0px 15px 0px;
        font-size: 1rem;
        font-weight: 500;
        word-spacing: -1px;
        letter-spacing: 0.04px;
        line-height: 30px;
        color: rgb(193, 60, 60);
      }

    }
        

     /* 태블릿 큰해상도 세로모드 */
     @media screen and (hover: none) and (orientation: portrait) and (max-width: 999px){
      .container7 {
        display: inline-block;
        /* margin-left: 10%; */
        }
        
        .box_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        }

        /* .box_wrap + .box_wrap {
        margin: 2em;
        } */

        /* .box_wrap .container7 {
        display: flex;
        gap: -3em;
        } */
        .box_wrap:nth-child(odd) .container7 {
        flex-direction: row;
        }
        .box_wrap:nth-child(even) .container7 {
        flex-direction: row-reverse;
        padding: 0.2em;
        }
        
        .box_wrap .img_box7 {
        display: flex;
        flex: 4;
        justify-content: center;
        margin-top: -1em;
        }
        
        .box_wrap .txt_box7 p + p {
        margin-top: 0.5vh;
        max-width: 100%;
        }
        
        .box_wrap .txt_box7 {
        flex: 6;
        font: 200 1.4em/1.8 "Noto Sans KR";
        margin-top: 1%;
        }

        .box_wrap .txt_box7 h4:before {
        content: "";
        display: block;
        background-color: #b477ae;
        width: 3.3rem;
        height: 5px;
        margin-top: 0em;
        }
        
        .box_wrap .txt_box7 p + p {
        margin: -1vh;
        }
    
        .h4{
          display: none;
        }
        
        .thum_4_txt_ad{
          display: block;
          margin-top: 10px;
          margin-right: -50px;
          margin-bottom: 100px;
          line-height: 2rem;
          letter-spacing:0px;
          font-size: 1.3rem;
          font-weight:100;
          color: rgb(102, 102, 102);
        }
        
        .icon_item2{
          float:left;
          list-style:none;
          display:inline-block;
          border: 0px;
          margin-left: 4.3rem;
          margin-top: -8rem;
          margin-right: -4.3rem;
          margin-bottom: 110px;
        }
        
        
        video {
          display: inline-block;
          justify-content: center;
          margin: 0;
          width: 100%;
          height: auto;
          object-fit: fill;
          margin-bottom: 1.2rem;
        }
        
        .thum_1_txt_ad{
          display: inline-block;
          font-size: 3rem;
          margin: 0% auto;
          margin-bottom:0.9rem;
          line-height:1em;
          letter-spacing:-3px;
          word-spacing:1px;
          font-weight:bold;
          color: #393939;
          }
          
         /* 영상종류  */
        .thum_2_txt_ad_1{
          background-color: #85b8eb;
          text-indent:12px;
          font-size:  1.4rem;
          margin-top:0.4em;
          margin-bottom:1.8rem;
          width: 6.4em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_2{
          background-color:  #f27852;
          text-indent:12px;
          font-size:  1.4rem;
          margin-top:0.4em;
          margin-bottom:1.8rem;
          width: 6.4em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_3{
          background-color: #3e7ac8;
          text-indent:12px;
          font-size:  1.4rem;
          margin-top:0.4em;
          margin-bottom:1.8rem;
          width: 6.4em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_4{
          background-color: #1C1C1F;
          text-indent:12px;
          font-size:  1.4rem;
          margin-top:0.4em;
          margin-bottom:1.8rem;
          width: 6.4em;
          color: #ffffff;
        }
        
        .thum_5_txt_ad{
          display: inline-block;
          margin-top:0.8em;
          line-height:160%;
          font-size: 1.4rem;
          color: #323232;
        }
        
        .thum_3_txt_ad{
          margin: 10px 0px 5px 0px;
          font-size: 1.3rem;
          font-weight: 500;
          word-spacing: -1px;
          letter-spacing: 0.04px;
          line-height: 20px;
          color: rgb(193, 60, 60);
        }

      }



     /* 태블릿 큰해상도 세로모드 */
     @media screen and (hover: none) and (orientation: portrait) and (min-height: 1200px){
      .container7 {
        display: inline-block;
        /* margin-left: 10%; */
        }
        
        .box_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        }

        /* .box_wrap + .box_wrap {
        margin: 2em;
        } */

        /* .box_wrap .container7 {
        display: flex;
        gap: -3em;
        } */
        .box_wrap:nth-child(odd) .container7 {
        flex-direction: row;
        }
        .box_wrap:nth-child(even) .container7 {
        flex-direction: row-reverse;
        padding: 0.2em;
        }
        
        .box_wrap .img_box7 {
        display: flex;
        flex: 4;
        justify-content: center;
        margin-top: -1em;
        }
        
        .box_wrap .txt_box7 p + p {
        margin-top: 0.5vh;
        max-width: 100%;
        }
        
        .box_wrap .txt_box7 {
        flex: 6;
        font: 200 1.4em/1.8 "Noto Sans KR";
        margin-top: 1%;
        }

        .box_wrap .txt_box7 h4:before {
        content: "";
        display: block;
        background-color: #b477ae;
        width: 4.3rem;
        height: 6px;
        margin-top: 0em;
        }
        
        .box_wrap .txt_box7 p + p {
        margin: -1vh;
        }
    
        .h4{
          display: none;
        }
        
        .thum_4_txt_ad{
          display: block;
          margin-top: 10px;
          margin-right: -50px;
          margin-bottom: 100px;
          line-height: 2rem;
          letter-spacing:0px;
          font-size: 1.6rem;
          font-weight:100;
          color: rgb(102, 102, 102);
        }
        
        .icon_item2{
          float:left;
          list-style:none;
          display:inline-block;
          border: 0px;
          margin-left: 5rem;
          margin-top: -8rem;
          margin-right: -5rem;
          margin-bottom: 110px;
        }
        
        
        video {
          display: inline-block;
          justify-content: center;
          margin: 0;
          width: 100%;
          height: auto;
          object-fit: fill;
          margin-bottom: 1.2rem;
        }
        
        .thum_1_txt_ad{
          display: inline-block;
          font-size: 3.7rem;
          margin: 0% auto;
          margin-bottom:0.9rem;
          line-height:1em;
          letter-spacing:-3px;
          word-spacing:1px;
          font-weight:bold;
          color: #393939;
          }
          
         /* 영상종류  */
        .thum_2_txt_ad_1{
          background-color: #85b8eb;
          text-indent:20px;
          font-size:  1.8rem;
          margin-top:0.6em;
          margin-bottom:2rem;
          width: 6.8em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_2{
          background-color:  #f27852;
          text-indent:20px;
          font-size:  1.8rem;
          margin-top:0.6em;
          margin-bottom:2rem;
          width: 6.8em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_3{
          background-color: #3e7ac8;
          text-indent:20px;
          font-size:  1.8rem;
          margin-top:0.6em;
          margin-bottom:2rem;
          width: 6.8em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_4{
          background-color: #1C1C1F;
          text-indent:20px;
          font-size:  1.8rem;
          margin-top:0.6em;
          margin-bottom:2rem;
          width: 6.8em;
          color: #ffffff;
        }
        
        .thum_5_txt_ad{
          display: inline-block;
          margin-top:0.8em;
          line-height:160%;
          font-size: 1.8rem;
          color: #323232;
        }
        
        .thum_3_txt_ad{
          margin: 15px 0px 15px 0px;
          font-size: 1.4em;
          font-weight: 500;
          word-spacing: -1px;
          letter-spacing: 0.04px;
          line-height: 20px;
          color: rgb(193, 60, 60);
        }

      }


      

    /* 모바일 작은 해상도 세로모드 */
    @media screen and (orientation: portrait) and (max-height: 720px) {

      .container7 {
        display: inline-block;
        /* margin-left: 10%; */
        }
        
        .box_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        }

        /* .box_wrap + .box_wrap {
        margin: 2em;
        } */

        /* .box_wrap .container7 {
        display: flex;
        gap: -3em;
        } */
        .box_wrap:nth-child(odd) .container7 {
        flex-direction: row;
        }
        .box_wrap:nth-child(even) .container7 {
        flex-direction: row-reverse;
        padding: 0.2em;
        }
        
        .box_wrap .img_box7 {
        display: flex;
        flex: 4;
        justify-content: center;
        margin-top: -1em;
        }
        
        .box_wrap .txt_box7 p + p {
        margin-top: 0.5vh;
        max-width: 100%;
        }
        
        .box_wrap .txt_box7 {
        flex: 6;
        font: 200 1em/1.8 "Noto Sans KR";
        margin-top: 1%;
        }

        .box_wrap .txt_box7 h4:before {
        /* content: ""; */
        display: none;
        /* background-color: #b477ae;
        width: 3rem;
        height: 3px;
        margin-top: 0em; */
        }
        
        .box_wrap .txt_box7 p + p {
        margin: -1vh;
        }
    
        .h4{
          display: none;
        }
        
        .thum_4_txt_ad{
          display: block;
          margin-top: 2px;
          margin-right: -50px;
          margin-bottom: 100px;
          line-height: 1.7rem;
          letter-spacing:0px;
          font-size: 0.8rem;
          font-weight:100;
          color: rgb(102, 102, 102);
        }
        
        .icon_item2{
          float:left;
          list-style:none;
          display:inline-block;
          border: 0px;
          margin-left: 2.8rem;
          margin-top: -7.95rem;
          margin-right: -2.8rem;
          margin-bottom: 110px;
        }
        
        
        video {
          display: inline-block;
          justify-content: center;
          margin: 0;
          width: 100%;
          height: auto;
          object-fit: fill;
          margin-bottom: 1.2rem;
        }
        
        .thum_1_txt_ad{
          display: inline-block;
          font-size: 1.8rem;
          margin: 0% auto;
          margin-bottom:0.6rem;
          line-height:1em;
          letter-spacing:-3px;
          word-spacing:1px;
          font-weight:bold;
          color: #393939;
          }
          
         /* 영상종류  */
        .thum_2_txt_ad_1{
          background-color: #85b8eb;
          text-indent:10px;
          font-size:  0.8rem;
          margin-top:0.3em;
          margin-bottom:0.8rem;
          width: 6.9em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_2{
          background-color:  #f27852;
          text-indent:10px;
          font-size:  0.8rem;
          margin-top:0.3em;
          margin-bottom:0.8rem;
          width: 6.9em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_3{
          background-color: #3e7ac8;
          text-indent:10px;
          font-size:  0.8rem;
          margin-top:0.3em;
          margin-bottom:0.8rem;
          width: 6.9em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_4{
          background-color: #1C1C1F;
          text-indent:10px;
          font-size:  0.8rem;
          margin-top:0.3em;
          margin-bottom:0.8rem;
          width: 6.9em;
          color: #ffffff;
        }
        
        .thum_5_txt_ad{
          display: inline-block;
          margin-top: -0.4rem;
          line-height:160%;
          font-size: 0.9rem;
          color: #323232;
        }
        
        .thum_3_txt_ad{
          margin: 15px 0px 15px 0px;
          font-size: 0.86em;
          font-weight: 500;
          margin-top: -0.6rem;
          word-spacing: -1px;
          letter-spacing: 0.04px;
          line-height: 20px;
          color: rgb(193, 60, 60);
        }

      }

      

      /* 모바일 큰 해상도 세로모드 */
      @media screen and (hover: none) and (orientation: portrait) and (max-width: 767px) {
        .container7 {
          display: inline-block;
          /* margin-left: 10%; */
          }
          
          .box_wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          }

          /* .box_wrap + .box_wrap {
          margin: 2em;
          } */

          /* .box_wrap .container7 {
          display: flex;
          gap: -3em;
          } */
          .box_wrap:nth-child(odd) .container7 {
          flex-direction: row;
          }
          .box_wrap:nth-child(even) .container7 {
          flex-direction: row-reverse;
          padding: 0.2em;
          }
          
          .box_wrap .img_box7 {
          display: flex;
          flex: 4;
          justify-content: center;
          margin-top: -1em;
          }
          
          .box_wrap .txt_box7 p + p {
          margin-top: 0.5vh;
          max-width: 100%;
          }
          
          .box_wrap .txt_box7 {
          flex: 6;
          font: 200 1em/1.8 "Noto Sans KR";
          margin-top: 1%;
          }

          .box_wrap .txt_box7 h4:before {
          content: "";
          display: block;
          background-color: #b477ae;
          width: 3rem;
          height: 3px;
          margin-top: 0em;
          }
          
          .box_wrap .txt_box7 p + p {
          margin: -1vh;
          }
      
          .h4{
            display: none;
          }
          
          .thum_4_txt_ad{
            display: block;
            margin-top: 10px;
            margin-right: -50px;
            margin-bottom: 100px;
            line-height: 1.7rem;
            letter-spacing:0px;
            font-size: 0.9rem;
            font-weight:100;
            color: rgb(102, 102, 102);
          }
          
          .icon_item2{
            float:left;
            list-style:none;
            display:inline-block;
            border: 0px;
            margin-left: 2.8rem;
            margin-top: -7.85rem;
            margin-right: -2.8rem;
            margin-bottom: 110px;
          }
          
          
          video {
            display: inline-block;
            justify-content: center;
            margin: 0;
            width: 100%;
            height: auto;
            object-fit: fill;
            margin-bottom: 1.2rem;
          }
          
          .thum_1_txt_ad{
            display: inline-block;
            font-size: 2.1rem;
            margin: 0% auto;
            margin-bottom:0.9rem;
            line-height:1em;
            letter-spacing:-3px;
            word-spacing:1px;
            font-weight:bold;
            color: #393939;
            }
            
           /* 영상종류  */
          .thum_2_txt_ad_1{
            background-color: #85b8eb;
            text-indent:10px;
            font-size:  1.0rem;
            margin-top:0.4em;
            margin-bottom:0.8rem;
            width: 6.7em;
            color: #ffffff;
          }
          
          .thum_2_txt_ad_2{
            background-color:  #f27852;
            text-indent:10px;
            font-size:  1.0rem;
            margin-top:0.4em;
            margin-bottom:0.8rem;
            width: 6.7em;
            color: #ffffff;
          }
          
          .thum_2_txt_ad_3{
            background-color: #3e7ac8;
            text-indent:10px;
            font-size:  1.0rem;
            margin-top:0.4em;
            margin-bottom:0.8rem;
            width: 6.7em;
            color: #ffffff;
          }
          
          .thum_2_txt_ad_4{
            background-color: #1C1C1F;
            text-indent:10px;
            font-size:  1.0rem;
            margin-top:0.4em;
            margin-bottom:0.8rem;
            width: 6.7em;
            color: #ffffff;
          }
          
          .thum_5_txt_ad{
            display: inline-block;
            margin-top:0.5em;
            line-height:160%;
            font-size: 1.1rem;
            color: #323232;
          }
          
          .thum_3_txt_ad{
            margin: 15px 0px 15px 0px;
            font-size: 1.1em;
            font-weight: 500;
            word-spacing: -1px;
            letter-spacing: 0.04px;
            line-height: 20px;
            color: rgb(193, 60, 60);
          }
  
        }
  

        

      /* 모바일 중간 해상도 세로모드 */
      @media screen and (orientation: portrait) and (max-height: 720px) {

        .container7 {
          display: inline-block;
          /* margin-left: 10%; */
          }
          
          .box_wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          }

          /* .box_wrap + .box_wrap {
          margin: 2em;
          } */

          /* .box_wrap .container7 {
          display: flex;
          gap: -3em;
          } */
          .box_wrap:nth-child(odd) .container7 {
          flex-direction: row;
          }
          .box_wrap:nth-child(even) .container7 {
          flex-direction: row-reverse;
          padding: 0.2em;
          }
          
          .box_wrap .img_box7 {
          display: flex;
          flex: 4;
          justify-content: center;
          margin-top: -1em;
          }
          
          .box_wrap .txt_box7 p + p {
          margin-top: 0.5vh;
          max-width: 100%;
          }
          
          .box_wrap .txt_box7 {
          flex: 6;
          font: 200 1em/1.8 "Noto Sans KR";
          margin-top: 1%;
          }

          .box_wrap .txt_box7 h4:before {
          /* content: ""; */
          display: none;
          /* background-color: #b477ae;
          width: 3rem;
          height: 3px;
          margin-top: 0em; */
          }
          
          .box_wrap .txt_box7 p + p {
          margin: -1vh;
          }
      
          .h4{
            display: none;
          }
          
          .thum_4_txt_ad{
            display: block;
            margin-top: 2px;
            margin-right: -50px;
            margin-bottom: 100px;
            line-height: 1.7rem;
            letter-spacing:0px;
            font-size: 0.8rem;
            font-weight:100;
            color: rgb(102, 102, 102);
          }
          
          .icon_item2{
            float:left;
            list-style:none;
            display:inline-block;
            border: 0px;
            margin-left: 2.8rem;
            margin-top: -7.95rem;
            margin-right: -2.8rem;
            margin-bottom: 110px;
          }
          
          
          video {
            display: inline-block;
            justify-content: center;
            margin: 0;
            width: 100%;
            height: auto;
            object-fit: fill;
            margin-bottom: 1.2rem;
          }
          
          .thum_1_txt_ad{
            display: inline-block;
            font-size: 1.8rem;
            margin: 0% auto;
            margin-bottom:0.6rem;
            line-height:1em;
            letter-spacing:-3px;
            word-spacing:1px;
            font-weight:bold;
            color: #393939;
            }
            
           /* 영상종류  */
          .thum_2_txt_ad_1{
            background-color: #85b8eb;
            text-indent:10px;
            font-size:  0.8rem;
            margin-top:0.3em;
            margin-bottom:0.8rem;
            width: 6.9em;
            color: #ffffff;
          }
          
          .thum_2_txt_ad_2{
            background-color:  #f27852;
            text-indent:10px;
            font-size:  0.8rem;
            margin-top:0.3em;
            margin-bottom:0.8rem;
            width: 6.9em;
            color: #ffffff;
          }
          
          .thum_2_txt_ad_3{
            background-color: #3e7ac8;
            text-indent:10px;
            font-size:  0.8rem;
            margin-top:0.3em;
            margin-bottom:0.8rem;
            width: 6.9em;
            color: #ffffff;
          }
          
          .thum_2_txt_ad_4{
            background-color: #1C1C1F;
            text-indent:10px;
            font-size:  0.8rem;
            margin-top:0.3em;
            margin-bottom:0.8rem;
            width: 6.9em;
            color: #ffffff;
          }
          
          .thum_5_txt_ad{
            display: inline-block;
            margin-top: -0.4rem;
            line-height:160%;
            font-size: 0.9rem;
            color: #323232;
          }
          
          .thum_3_txt_ad{
            margin: 15px 0px 15px 0px;
            font-size: 0.86em;
            font-weight: 500;
            margin-top: -0.6rem;
            word-spacing: -1px;
            letter-spacing: 0.04px;
            line-height: 20px;
            color: rgb(193, 60, 60);
          }
  
        }


 /* 태블릿 해상도 가로모드 */
 @media screen and (hover: none) and (orientation: landscape) and (min-width: 768px) {
  .container7 {
    display: inline-block;
    /* margin-left: 10%; */
    }
    
    .box_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .box_wrap + .box_wrap {
    margin: 2em;
    }

    .box_wrap .container7 {
    display: flex;
    gap: 12%;
    }

    .box_wrap:nth-child(odd) .container7 {
    flex-direction: row;
    }
    
    .box_wrap:nth-child(even) .container7 {
    flex-direction: row-reverse;
    padding: 0.2em;
    }
    
    .box_wrap .img_box7 {
    display: inline-block;
    flex: 4;
    justify-content: center;
    margin-top: 0em;
    max-height: 100%;
    }
    
    .box_wrap .txt_box7 p + p {
    margin-top: 0.5vh;
    max-width: 100%;
    }
    
    .box_wrap .txt_box7 {
    display: inline-block;
    flex: 6;
    font: 200 1em/1.8 "Noto Sans KR";
    /* margin-top: -1%; */
    }

    .box_wrap .txt_box7 h4:before {
    content: "";
    display: flex;
    background-color: #b477ae;
    width: 2rem;
    height: 3px;
    margin-top: -4%;
    }
    
    .box_wrap .txt_box7 p + p {
    margin: -1vh;
    }

    .h4{
      display: none;
    }
    
    .thum_4_txt_ad{
      display: block;
      margin-top: 2px;
      margin-right: -50px;
      margin-bottom: 100px;
      line-height: 1.7rem;
      letter-spacing:0px;
      font-size: 0.8rem;
      font-weight:100;
      color: rgb(102, 102, 102);
    }
    
    .icon_item2{
      float:left;
      list-style:none;
      display:inline-block;
      border: 0px;
      margin-left: 2.8rem;
      margin-top: -7.95rem;
      margin-right: -2.8rem;
      margin-bottom: 110px;
    }
    
    
    video {
      display: inline-block;
      justify-content: center;
      margin: 0;
      width: 130%;
      height: auto;
      object-fit: fill;
    }
    
    .thum_1_txt_ad{
      display: inline-block;
      font-size: 1.8rem;
      margin: 0% auto;
      margin-bottom:0.6rem;
      line-height:1em;
      letter-spacing:-3px;
      word-spacing:1px;
      font-weight:bold;
      color: #393939;
      }
      
     /* 영상종류  */
    .thum_2_txt_ad_1{
      background-color: #85b8eb;
      text-indent:10px;
      font-size:  0.8rem;
      margin-top:0.3em;
      margin-bottom:0.8rem;
      width: 6.9em;
      color: #ffffff;
    }
    
    .thum_2_txt_ad_2{
      background-color:  #f27852;
      text-indent:10px;
      font-size:  0.8rem;
      margin-top:0.3em;
      margin-bottom:0.8rem;
      width: 6.9em;
      color: #ffffff;
    }
    
    .thum_2_txt_ad_3{
      background-color: #3e7ac8;
      text-indent:10px;
      font-size:  0.8rem;
      margin-top:0.3em;
      margin-bottom:0.8rem;
      width: 6.9em;
      color: #ffffff;
    }
    
    .thum_2_txt_ad_4{
      background-color: #1C1C1F;
      text-indent:10px;
      font-size:  0.8rem;
      margin-top:0.3em;
      margin-bottom:0.8rem;
      width: 6.9em;
      color: #ffffff;
    }
    
    .thum_5_txt_ad{
      display: inline-block;
      margin-top: -0.4rem;
      line-height:160%;
      font-size: 0.9rem;
      color: #323232;
    }
    
    .thum_3_txt_ad{
      margin: 15px 0px 15px 0px;
      font-size: 0.86em;
      font-weight: 500;
      margin-top: -0.6rem;
      word-spacing: -1px;
      letter-spacing: 0.04px;
      line-height: 20px;
      color: rgb(193, 60, 60);
    }

  }




      /* 모바일 큰 해상도 가로모드 */
      @media screen and (hover: none) and (orientation: landscape) and (max-width: 950px) {
        .container7 {
          display: inline-block;
          /* margin-left: 10%; */
          }
          
          .box_wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          }

          .box_wrap + .box_wrap {
          margin: 2em;
          }

          .box_wrap .container7 {
          display: flex;
          gap: 6em;
          }

          .box_wrap:nth-child(odd) .container7 {
          flex-direction: row;
          }
          
          .box_wrap:nth-child(even) .container7 {
          flex-direction: row-reverse;
          padding: 0.2em;
          }
          
          .box_wrap .img_box7 {
          display: inline-block;
          flex: 4;
          justify-content: center;
          margin-top: -1em;
          max-height: 100%;
          }
          
          .box_wrap .txt_box7 p + p {
          margin-top: 0.5vh;
          max-width: 100%;
          }
          
          .box_wrap .txt_box7 {
          display: inline-block;
          flex: 6;
          font: 200 1em/1.8 "Noto Sans KR";
          /* margin-top: -15%; */
          }

          .box_wrap .txt_box7 h4:before {
          content: "";
          display: flex;
          background-color: #b477ae;
          width: 2rem;
          height: 3px;
          margin-top: 0em;
          }
          
          .box_wrap .txt_box7 p + p {
          margin: -1vh;
          }
      
          .h4{
            display: none;
          }
          
          .thum_4_txt_ad{
            display: block;
            margin-top: 2px;
            margin-right: -50px;
            margin-bottom: 100px;
            line-height: 1.7rem;
            letter-spacing:0px;
            font-size: 0.8rem;
            font-weight:100;
            color: rgb(102, 102, 102);
          }
          
          .icon_item2{
            float:left;
            list-style:none;
            display:inline-block;
            border: 0px;
            margin-left: 2.8rem;
            margin-top: -7.95rem;
            margin-right: -2.8rem;
            margin-bottom: 110px;
          }
          
          
          video {
            display: inline-block;
            justify-content: center;
            margin: 0;
            width: 130%;
            height: auto;
            object-fit: fill;
          }
          
          .thum_1_txt_ad{
            display: inline-block;
            font-size: 1.8rem;
            margin: 0% auto;
            margin-bottom:0.6rem;
            line-height:1em;
            letter-spacing:-3px;
            word-spacing:1px;
            font-weight:bold;
            color: #393939;
            }
            
           /* 영상종류  */
          .thum_2_txt_ad_1{
            background-color: #85b8eb;
            text-indent:10px;
            font-size:  0.8rem;
            margin-top:0.3em;
            margin-bottom:0.8rem;
            width: 6.9em;
            color: #ffffff;
          }
          
          .thum_2_txt_ad_2{
            background-color:  #f27852;
            text-indent:10px;
            font-size:  0.8rem;
            margin-top:0.3em;
            margin-bottom:0.8rem;
            width: 6.9em;
            color: #ffffff;
          }
          
          .thum_2_txt_ad_3{
            background-color: #3e7ac8;
            text-indent:10px;
            font-size:  0.8rem;
            margin-top:0.3em;
            margin-bottom:0.8rem;
            width: 6.9em;
            color: #ffffff;
          }
          
          .thum_2_txt_ad_4{
            background-color: #1C1C1F;
            text-indent:10px;
            font-size:  0.8rem;
            margin-top:0.3em;
            margin-bottom:0.8rem;
            width: 6.9em;
            color: #ffffff;
          }
          
          .thum_5_txt_ad{
            display: inline-block;
            margin-top: -0.4rem;
            line-height:160%;
            font-size: 0.9rem;
            color: #323232;
          }
          
          .thum_3_txt_ad{
            margin: 15px 0px 15px 0px;
            font-size: 0.86em;
            font-weight: 500;
            margin-top: -0.6rem;
            word-spacing: -1px;
            letter-spacing: 0.04px;
            line-height: 20px;
            color: rgb(193, 60, 60);
          }
  
        }



    /* 모바일 작은 해상도 가로모드 */
    @media screen and (hover: none) and (orientation: landscape) and (max-width: 767px) {
      .container7 {
        display: inline-block;
        /* margin-left: 10%; */
        }
        
        .box_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .box_wrap + .box_wrap {
        margin: 2em;
        }

        .box_wrap .container7 {
        display: flex;
        gap: 4em;
        }

        .box_wrap:nth-child(odd) .container7 {
        flex-direction: row;
        }
        
        .box_wrap:nth-child(even) .container7 {
        flex-direction: row-reverse;
        padding: 0.2em;
        }
        
        .box_wrap .img_box7 {
        display: inline-block;
        flex: 4;
        justify-content: center;
        margin-top: -1em;
        max-height: 100%;
        }
        
        .box_wrap .txt_box7 p + p {
        margin-top: 0.5vh;
        max-width: 100%;
        }
        
        .box_wrap .txt_box7 {
        display: inline-block;
        flex: 6;
        font: 200 1em/1.8 "Noto Sans KR";
        margin-top: -15%;
        }

        .box_wrap .txt_box7 h4:before {
        content: "";
        display: flex;
        background-color: #b477ae;
        width: 2rem;
        height: 3px;
        margin-top: 0em;
        }
        
        .box_wrap .txt_box7 p + p {
        margin: -1vh;
        }
    
        .h4{
          display: none;
        }
        
        .thum_4_txt_ad{
          display: block;
          margin-top: 2px;
          margin-right: -50px;
          margin-bottom: 100px;
          line-height: 1.7rem;
          letter-spacing:0px;
          font-size: 0.8rem;
          font-weight:100;
          color: rgb(102, 102, 102);
        }
        
        .icon_item2{
          float:left;
          list-style:none;
          display:inline-block;
          border: 0px;
          margin-left: 2.8rem;
          margin-top: -7.95rem;
          margin-right: -2.8rem;
          margin-bottom: 110px;
        }
        
        
        video {
          display: inline-block;
          justify-content: center;
          margin: 0;
          width: 120%;
          height: auto;
          object-fit: fill;
        }
        
        .thum_1_txt_ad{
          display: inline-block;
          font-size: 1.8rem;
          margin: 0% auto;
          margin-bottom:0.6rem;
          line-height:1em;
          letter-spacing:-3px;
          word-spacing:1px;
          font-weight:bold;
          color: #393939;
          }
          
         /* 영상종류  */
        .thum_2_txt_ad_1{
          background-color: #85b8eb;
          text-indent:10px;
          font-size:  0.8rem;
          margin-top:0.3em;
          margin-bottom:0.8rem;
          width: 6.9em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_2{
          background-color:  #f27852;
          text-indent:10px;
          font-size:  0.8rem;
          margin-top:0.3em;
          margin-bottom:0.8rem;
          width: 6.9em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_3{
          background-color: #3e7ac8;
          text-indent:10px;
          font-size:  0.8rem;
          margin-top:0.3em;
          margin-bottom:0.8rem;
          width: 6.9em;
          color: #ffffff;
        }
        
        .thum_2_txt_ad_4{
          background-color: #1C1C1F;
          text-indent:10px;
          font-size:  0.8rem;
          margin-top:0.3em;
          margin-bottom:0.8rem;
          width: 6.9em;
          color: #ffffff;
        }
        
        .thum_5_txt_ad{
          display: inline-block;
          margin-top: -0.4rem;
          line-height:160%;
          font-size: 0.9rem;
          color: #323232;
        }
        
        .thum_3_txt_ad{
          margin: 15px 0px 15px 0px;
          font-size: 0.86em;
          font-weight: 500;
          margin-top: -0.6rem;
          word-spacing: -1px;
          letter-spacing: 0.04px;
          line-height: 20px;
          color: rgb(193, 60, 60);
        }

      }



 
      
 @media screen and (hover: none) and (max-width: 872px){
.gnb{
 display: none;
}

.container{
display: none;
}

.img_box2{
margin-left: 18%;
margin-top: 5em;
margin-bottom: -90px;
height: 400px;
}
.txt_box_mv_sub4{
  width: 500px;
}  
}
 
             /* hover 가능한 경우, 터치 불가(PC) */
              /* @media screen and (hover: hover) and (min-width: 1101px) {

              } */

              @media screen and (hover: hover) and (max-width: 1100px) {
                .gnb{
                  display: none;
                 }

                .navBox {
                  display: flex;
                 }
              }
              




