
@media screen and (orientation:landscape)  {

    .box_wrap:nth-child(odd) .container2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
      gap: 5vh;
    }

    .box_wrap:nth-child(odd) .container3 {
      display: flex;
      flex-direction: row;
      gap: 6vh;
    }


    /* 메인 프로필 이미지 */
    .img_box5{
      display:block;
      margin:auto;
      margin-bottom: 2%;
      width: 26vh;
    }

    .box_wrap .img_box5 {
      flex: 5;
    }
    .box_wrap .img_box5> img {
      width: 100%;
    }


    
      /* 메인 페이지 이미지 */
     .img_box3 img {
     display: block;
     margin:auto;
     margin-top: 0vh;
     /* margin-bottom: 10vh; */
     width: 34vh;
    }

    /* 메인 */
    .main_title{
      font-size: 4vh;
      margin-top: -3vh;
      font-weight: bold;
      letter-spacing:-0.8px;
      word-spacing:-0.5px;
    }

    .main_sub{
      font-size: 3vh;
      margin-top: 2%;
      line-height:10%;
      letter-spacing:-0.8px;
      word-spacing:-0.5px;
    }

    .date{
      font-size: 2.3vh;
      color: #9d9d9d;
      margin:8% auto;
      word-spacing:1px;
    }

    .main_txt{
      font-size: 2.4vh;
      color: #656565;
      margin: -1vh 0vh 0vh 0vh;
      line-height: 140%;
      letter-spacing:-0.8px;
      word-spacing:-0.5px;
    }


    
    .text {
      display: block;
      margin-bottom: 0%;
      height: 100%;
    }


    .text_box{
      display: block;
      padding: 0%;
      /* height: 20vh; */
      width: 110%;
      letter-spacing:-0.3vh;
      word-spacing:0vh;
      line-height: 6vh;
      font-weight: 600;
      font-size: 4.4vh;
      margin: auto;
      margin-top: 0%;
      margin-left: 0%;
      text-align: left;
      color: #a9a9a9;
    }
  
    .box_wrap .txt_box3 p + p {
    max-width: 100%;
    margin: auto;
    }
    
    .box_wrap .txt_box3 {
    flex: 6;
    font: 200 1em/1.8 "Noto Sans KR";
    margin: auto;
    text-align: left;
    }


    .box_wrap .txt_box3 {
      flex: 6;
      font: 200 1em/1.8 "Noto Sans KR";
      margin: 0 auto;
      padding-inline: -32px;
      margin-top: 0em;
    }
    
    .box_wrap .txt_box3 h4:before {
      content: "";
      display: block;
      background-color: #b477ae;
      width: 2.2em;
      height: 2.5px;
    }
    
    .box_wrap .txt_box3 p + p {
      margin-top: 0em;
    }
    

        /* 메인페이지 버튼 */
    button{
      background: #A576AB;
      color:#fff;
      border:none;
      position:relative;
      height: 5.3vh;
      font-size: 2vh;
      font-weight: 700;
      padding:0 11vh;
      margin-top: 0vh;
      cursor:pointer;
      transition:800ms ease all;
      outline:none;
    }

    .brank {
      margin: 10%;
    }
    }


body:before{
  content:'';
  display:inline-block;
  vertical-align:middle;
}






@media screen and (max-width: 1000px) {
/* 메인페이지 버튼 */
button{
  background: #A576AB;
  color:#fff;
  border:none;
  position:relative;
  height:45px;
  font-size: 1.1rem;
  font-weight: 700;
  padding:0 6em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

.brank{
  margin: 20%;
}

}

button:hover{
  background:#ffffff00;
  color: #A576AB;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #A576AB;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

@media screen and (orientation: portrait) and (min-width: 319px) and (max-width: 349px){
  button{
    background: #A576AB;
    color:#fff;
    border:none;
    position:relative;
    height: 35px;
    font-size: 0.9rem;
    font-weight: 700;
    padding:0 4.2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: 7%;
  }
}


@media screen and (orientation: portrait) and (min-width: 350px) and (max-width: 379px){
  button{
    background: #A576AB;
    color:#fff;
    border:none;
    position:relative;
    height: 40px;
    font-size: 0.9rem;
    font-weight: 700;
    padding:0 6em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: 7%;
  }
}


@media screen and (orientation: portrait) and (min-width: 411px) and (max-width: 449px){
button{
background: #A576AB;
color:#fff;
border:none;
position:relative;
height:45px;
font-size: 1.1rem;
font-weight: 700;
padding:0 6em;
cursor:pointer;
transition:800ms ease all;
outline:none;
margin-top: 5%;
}
}


@media screen and (orientation: portrait) and (min-height: 450px) {
      /* 메인 페이지 이미지 */
     .img_box3 img {
     display: block;
     /* margin:auto; */
     /* margin-top: 2%; */
     margin-bottom: 0%;
    }

  }

  

@media screen and (orientation:landscape) and (max-height: 399px) {
  button{
    background: #A576AB;
    color:#fff;
    border:none;
    position:relative;
    height: 4vh;
    font-size: 2vh;
    font-weight: 700;
    padding:0 12vh;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: -10%;
  }

  .brank {
    margin: 0%;
  }
}


@media screen and (orientation:landscape) and (min-height: 400px) and (max-height: 500px) {
  button{
    background: #A576AB;
    color:#fff;
    border:none;
    position:relative;
    height: 4vh;
    font-size: 2vh;
    font-weight: 700;
    padding:0 12vh;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: -10%;
  }

  .brank {
    margin: 0%;
  }

}



     /* 세로모드 메뉴바 */
     @media screen and (orientation:Portrait) and (min-height: 1151px) {
          /* 메인페이지 버튼 */
    button{
      background: #A576AB;
      color:#fff;
      border:none;
      position:relative;
      height:60px;
      font-size: 1.5rem;
      font-weight: 700;
      padding:0 6em;
      cursor:pointer;
      transition:800ms ease all;
      outline:none;
    }

    .brank {
      margin: 20%;
    }
     }





/* 이전 메인 페이지 버튼 */
.btn {
  display: inline-block;
  margin-top: 1em;
  padding: 0.8em 2.9em;
  border-radius: 11px 11px 11px 11px;
  background-color: #b477ae;
  color: white;
}

.btn:hover {
  display: inline-block;
  padding: 0.8em 2.9em;
  border-radius: 11px 11px 11px 11px;
  background-color: #fdd4d4;
  color: #ffffff;
  transition: all .5s;
  animation: fadeIn 0.3s forwards;
}

/* 온라인디자인 more 버튼 */
.btn1 {
  display: inline-block;
  position: relative;
  border-radius: 40px;
  font-size: 1.8vh;
  top: 68%;
  margin-top: 15%;
  padding: 0.8vh 8vh;
  background-color: #b477ae;
  color: white;
}

.btn1:hover {
  background-color: #A576AB;
  color: white;
  transition: all .5s;
  animation: fadeIn 0.3s forwards;
}

/* 오프라인디자인 more 버튼 */
.btn2 {
  display: inline-block;
  position: relative;
  border-radius: 40px;
  font-size: 1.8vh;
  top: 68%;
  margin-top: 15%;
  padding: 0.8vh 8vh;
  background-color: #b477ae;
  color: white;
}

.btn2:hover {
  background-color: #A576AB;
  color: white;
  transition: all .5s;
  animation: fadeIn 0.3s forwards;
}

/* 영상제작 more 버튼 */
.btn3 {
  display: inline-block;
  position: relative;
  border-radius: 40px;
  font-size: 1.8vh;
  top: 68%;
  margin-top: 15%;
  padding: 0.8vh 8vh;
  background-color: #b477ae;
  color: white;
}

.btn3:hover {
  background-color: #A576AB;
  color: white;
  transition: all .5s;
  animation: fadeIn 0.3s forwards;
}

/* 메인 프로필 버튼 */
.btn4 {
  display: inline-block;
  position: absolute;
  border-radius: 40px;
  font-size: 1.8vh;
  left: 50%;
  top: 68%;
  margin-left: -10.5vh;
  padding: 0.8vh 8vh;
  background-color: #b477ae;
  color: white;
}

.btn4:hover {
  background-color: #A576AB;
  color: white;
  transition: all .5s;
  animation: fadeIn 0.3s forwards;
}







             /* hover 가능한 경우, 터치 불가(PC) */
              /* @media screen and (hover: hover) and (min-width: 1101px) {

              } */

              @media screen and (hover: hover) and (max-width: 1100px) {
                .gnb{
                  display: none;
                 }

                .navBox {
                  display: flex;
                 }
              }
              



            
