





@media screen and (orientation:landscape) {
    .main3 .container3 {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
   .box_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_wrap + .box_wrap {
    margin-top: -1em;
  }
  .box_wrap .container3 {
    display: flex;
    gap: 2em;
  }
  .box_wrap:nth-child(odd) .container3 {
    flex-direction: row;
  }
  .box_wrap:nth-child(even) .container3 {
    flex-direction: row-reverse;
    padding: 0.5em;
  }
  .box_wrap .img_box {
    flex: 4;
  }
  .box_wrap .img_box > img {
    width: 100%;
  }
  
  .box_wrap .txt_box4 p + p {
    margin-top: 0.5vh;
  }
  
  .box_wrap .txt_box4 {
    flex: 6;
    font: 200 1em/1.8 "Noto Sans KR";
  }
  .box_wrap .txt_box4 h4:before {
    content: "";
    display: block;
    /* background-color: #b477ae; */
    width: 2.5em;
    height: 3px;
  }
  
  .box_wrap .txt_box4 p + p {
    margin-top: 0.4vh;
  }
  }
  
  
  @media ( min-height: 1140px ) and (max-height:1500px) {
    .main3 .container3 {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
  }
  
   .box_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_wrap + .box_wrap {
    margin-top: -1em;
  }
  .box_wrap .container3 {
    display: flex;
    gap: 1em;
  }
  .box_wrap:nth-child(odd) .container3 {
    flex-direction: row;
  }
  .box_wrap:nth-child(even) .container3 {
    flex-direction: row-reverse;
    padding: 0.5em;
  }
  .box_wrap .img_box {
    flex: 4;
  }
  .box_wrap .img_box > img {
    width: 100%;
  }
  
  .box_wrap .txt_box4 p + p {
    margin-top: 0.5vh;
  }
  
  .box_wrap .txt_box4 {
    flex: 6;
    font: 200 1em/1.8 "Noto Sans KR";
  }
  .box_wrap .txt_box4 h4:before {
    content: "";
    display: block;
    /* background-color: #b477ae; */
    width: 2.5em;
    height: 3px;
  }
  
  .box_wrap .txt_box4 p + p {
    margin-top: 0.4vh;
  }
  }
  
  
  @media ( min-width: 1000px ){
    .main3 .container3 {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
   .box_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_wrap + .box_wrap {
    margin-top: -1em;
  }
  .box_wrap .container3 {
    display: flex;
    gap: 3em;
  }
  .box_wrap:nth-child(odd) .container3 {
    flex-direction: row;
  }
  .box_wrap:nth-child(even) .container3 {
    flex-direction: row-reverse;
    padding: 2em;
  }
  .box_wrap .img_box {
    flex: 4;
  }
  .box_wrap .img_box > img {
    width: 100%;
  }
  
  .box_wrap .txt_box4 p + p {
    margin-top: 0.5vh;
  }
  
  .box_wrap .txt_box4 {
    flex: 6;
    font: 200 1em/1.8 "Noto Sans KR";
  }
  .box_wrap .txt_box4 h4:before {
    content: "";
    display: block;
    /* background-color: #b477ae; */
    width: 2.5em;
    height: 3px;
  }
  
  }
  
  @media ( min-height: 1000px ) {
    .main3 .container3 {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
   .box_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_wrap + .box_wrap {
    margin-top: -1em;
  }
  .box_wrap .container3 {
    display: flex;
    gap: 2em;
  }
  .box_wrap:nth-child(odd) .container3 {
    flex-direction: row;
  }
  .box_wrap:nth-child(even) .container3 {
    flex-direction: row-reverse;
    padding: 0.5em;
  }
  .box_wrap .img_box {
    flex: 4;
  }
  .box_wrap .img_box > img {
    width: 100%;
  }
  
  .box_wrap .txt_box4 p + p {
    margin-top: 0.5vh;
  }
  
  .box_wrap .txt_box4 {
    flex: 6;
    font: 200 1em/1.8 "Noto Sans KR";
  }
  .box_wrap .txt_box4 h4:before {
    content: "";
    display: block;
    /* background-color: #b477ae; */
    width: 2.5em;
    height: 3px;
  }
  
  .box_wrap .txt_box4 p + p {
    margin-top: 0.4vh;
  }
  }

  
  
  
  @media screen and (orientation:landscape) and (min-height: 701px){
     /* 모바일 사이드바 */
  /* .navBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.6em;
    margin: 5px;
  } */
  
  .iconBtn {
    width: 35px;
    cursor: pointer;
  
  }
  .menuWrap.on {
    right: 0;
  }
  .menuWrap {
    position: fixed;
    top: 0;
    right: -68vh;
    z-index: 400;
    width: 68vh;
    /* width: 75%; */
    height: 100%;
    padding: 2em 20px;
    font-size: 0.8em;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;
    background-color: #393939fb;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.139);
  }
  
  /* 모바일 메뉴바 폰트 스타일 */
  .listStyle_main{
    letter-spacing:-2px;
    word-spacing:1px;
    font-weight: bold;
    font-size:3.4vh;
    color: rgb(255, 255, 255);
    padding-top:1vh;
  }
  .listStyle_sub{
    letter-spacing:-2px;
    word-spacing:1px;
    font-weight: 400;
    font-size: 3vh;
    color: rgb(204, 204, 204);
  }
  
  .listStyle_sub2{
    letter-spacing:-2px;
    word-spacing:1px;
    font-weight: 400;
    font-size: 3vh;
    color: rgb(204, 204, 204);
    padding-bottom:1vh;
  }
  
  #menuBtn {
    width: 35px;
    z-index: 401;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  #dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .btnRotate {
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
  }
    }

    
  @media screen and (orientation:landscape) and (min-height: 601px) and (max-height: 700px) {
    /* 모바일 사이드바 */
  /* .navBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.6em;
    margin: 5px;
  } */

  .iconBtn {
    width: 35px;
    cursor: pointer;
  
  }
  .menuWrap.on {
    right: 0;
  }
  .menuWrap {
    position: fixed;
    top: 0;
    right: -68vh;
    z-index: 400;
    width: 68vh;
    /* width: 75%; */
    height: 100%;
    padding: 2em 20px;
    font-size: 0.8em;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;
    background-color: #393939fb;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.139);
  }
  
  /* 모바일 메뉴바 폰트 스타일 */
  .listStyle_main{
    letter-spacing:-2px;
    word-spacing:1px;
    font-weight: bold;
    font-size:3.4vh;
    color: rgb(255, 255, 255);
    padding-top:1vh;
  }
  .listStyle_sub{
    letter-spacing:-2px;
    word-spacing:1px;
    font-weight: 400;
    font-size: 3vh;
    color: rgb(204, 204, 204);
  }
  
  .listStyle_sub2{
    letter-spacing:-2px;
    word-spacing:1px;
    font-weight: 400;
    font-size: 3vh;
    color: rgb(204, 204, 204);
    padding-bottom:1vh;
  }
  
  #menuBtn {
    width: 35px;
    z-index: 401;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  #dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .btnRotate {
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
  }
  }
  
  
  @media screen and (orientation:landscape) and (max-height: 600px) {
   /* 모바일 사이드바 */
   /* .navBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.6em;
    margin: 5px;
  } */
  
  .iconBtn {
    width: 35px;
    cursor: pointer;
  
  }
  .menuWrap.on {
    right: 0;
  }
  .menuWrap {
    position: fixed;
    top: 0;
    right: -68vh;
    z-index: 400;
    width: 68vh;
    /* width: 75%; */
    height: 100%;
    padding: 2em 20px;
    font-size: 0.8em;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;
    background-color: #393939fb;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.139);
  }
  
  /* 모바일 메뉴바 폰트 스타일 */
  .listStyle_main{
    letter-spacing:-2px;
    word-spacing:1px;
    font-weight: bold;
    font-size:3.4vh;
    color: rgb(255, 255, 255);
    padding-top:1vh;
  }
  .listStyle_sub{
    letter-spacing:-2px;
    word-spacing:1px;
    font-weight: 400;
    font-size: 3vh;
    color: rgb(204, 204, 204);
  }
  
  .listStyle_sub2{
    letter-spacing:-2px;
    word-spacing:1px;
    font-weight: 400;
    font-size: 3vh;
    color: rgb(204, 204, 204);
    padding-bottom:1vh;
  }
  
  #menuBtn {
    width: 35px;
    z-index: 401;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  #dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .btnRotate {
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
  }
  }
  


                  /* @media screen and (hover: hover) and (min-width: 1101px) {

              } */

              @media screen and (hover: hover) and (max-width: 1100px) {
                .gnb{
                  display: none;
                 }

                .navBox {
                  display: flex;
                 }
              }